.WeatherForecast {
  text-align: center;
  padding: 30px 1px 1px;
  color: white;
}

.WeatherForecast-temperaturre-min {
  opacity: 0.6;
  margin-left: 10px;
  line-height: 20px;
}

.WeatherTemperature {
  padding: 10px;
  color: white;
}

.WeatherForecast-temperatures {
  line-height: 20px;
  padding: -20px;
  display: block;
  color: white;
}
img {
  height: 80px;
}
