.WeatherForecast {
  text-align: center;
  padding: 10px;
}

.WeatherForecast-temperaturre-min {
  opacity: 0.6;
  margin-left: 10px;
  line-height: 20px;
}

.WeatherTemperature {
  padding: 1px;
}

.WeatherForecast-temperatures {
  line-height: 0px;
  padding: -20px;
}
