.horizontal-list {
  display: flex; /* Makes list items align in a row */
  justify-content: center;
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}
.horizontal-list {
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.horizontal-list li {
  display: inline-block; /* Makes each list item display inline */
  margin-right: 30px; /* Adds space between items */
}
