.horizontal-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  margin-right: 30px;
}

@media (max-width: 800px) {
  .horizontal-list {
    display: block;
    padding: 5px;
  }

  .horizontal-list li {
    margin-right: 5px;
    font-size: 15px;
    margin-left: 80px;
    margin: -20px;
  }

  .Weather ul {
    margin-right: 10px;
    max-width: 60%;
    font-size: 20px;
    margin-top: 30px;
  }
}
